<div class="jumbotron container">
    <div class="col-md-5">
        <h2>{{project.Name}}</h2>
        <a ng-if="isAdmin()||isProjectLeader" class="btn btn-info" href="#projects/edit/{{project.Id}}">Edit</a>
        <a ng-if="isAdmin()||isProjectLeader" class="btn btn-info" href="#projects/add-issue/{{project.Id}}">Add Issue</a>
        <p><strong>Description:</strong> {{project.Description}}</p>
        <p><strong>Lead:</strong> {{project.Lead.Username}}</p>
        <p>Labels: <span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}}</span></p>
        <p>Priorities: <span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}}</span></p>
        <div ng-issues-filters></div>
    </div>
    <div class="col-md-7">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Assignee</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="issue in projectIssues
            |filter:{Status: {Id:statusFilter||'!!'}}">
                <td><a href="#issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.Description}}</td>
                <td>{{issue.DueDate}}</td>
                <td>{{issue.Assignee.Username}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>